.landscape-blocker {
  @apply h-screen w-screen fixed left-0 right-0 top-0 bottom-0 hidden flex-col items-center justify-center;
  background: #aa865b;
  z-index: 2;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: none;
  margin-bottom: 2rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@media screen and (orientation: landscape) and (max-width: 926px) {
  body {
    background: #aa865b !important;
    overflow: hidden;
  }

  .landscape-blocker {
    display: flex;
  }

  .phone {
    animation: rotate 1.5s ease-in-out infinite alternate;
  }
}
