.landscape-blocker {
  background: #aa865b;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
  margin-bottom: 2rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@media screen and (orientation: landscape) and (max-width: 926px) {
  body {
    background: #aa865b !important;
  }
  .landscape-blocker {
    display: flex;
  }
}
