.welcome {
  @apply container mx-auto flex flex-col items-center justify-center h-screen bg-center bg-no-repeat bg-cover;
  background-color: white;
}

.welcome__modal {
  @apply flex flex-col items-center justify-center text-center;
  background: rgba(255, 252, 252, 0.88);
  border: 2px solid #000000;
  padding: 1rem 2rem;
}

.welcome__text {
  @apply mb-2;
}

.welcome__logo {
  margin: 0.5rem 0 1rem 0;
  @apply h-48;
}

@media screen and (min-width: 1024px) {
  .welcome__logo {
    height: 24rem;
  }
}
