.photos-page {
  @apply h-screen w-screen m-0 overflow-auto relative bg-white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.photos-page::-webkit-scrollbar {
  @apply hidden;
}

#image-track {
  @apply flex absolute select-none;
  gap: 4vmin;
  left: 25%;
  top: 50%;
  transform: translate(0%, -50%);
}

#image-track:hover {
  cursor: pointer;
}

#image-track > .image {
  @apply object-cover;
  width: 55vmin;
  height: 100vmin;
  object-position: 100% center;
}

@media screen and (min-width: 1024px) {
  #image-track > .image {
    width: 40vmin;
    height: 76vmin;
  }

  .photos-page {
    @apply w-auto;
  }
}
