@font-face {
  font-family: "Trajan Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Regular"),
    url("./assets/fonts/TrajanPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Trajan Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Bold"),
    url("./assets/fonts/TrajanPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Carolyna";
  src: local("Carolyna"),
    url("./assets/fonts/FontsFree-Net-CarolynaProBlack.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "AbrahamLincoln";
  src: local("AbrahamLincoln"),
    url("./assets/fonts/AbrahamLincoln.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Vidaloka";
  src: local("Vidaloka"),
    url("./assets/fonts/Vidaloka-Regular.ttf") format("truetype");
}

.app {
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .app {
    margin: 0 20rem;
  }
}
