.icons-page {
  @apply container mx-auto flex flex-col items-center justify-center;
  padding: 0 0 4rem;
  background-color: white;
}

.icons-page__container {
  @apply flex flex-col items-center mb-4;
}

.icons-page__container-gifts {
  @apply flex flex-row;
}

.icons-page__container-gifts-text {
  width: 20rem;
}

@media screen and (min-width: 1024px) {
  .icons-page__container-gifts-text {
    width: 20rem;
  }
}
