.itinerary {
  @apply container mx-auto flex flex-col items-center justify-center text-center;
  height: 100%;
  padding: 1rem;
}

.itinerary__intro > h1 {
  font-family: "Trajan Pro Bold";
  font-size: larger;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.itinerary__intro > h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: small;
  margin-bottom: 1rem;
}

.itinerary__intro > h2 {
  font-family: "Trajan Pro";
  font-weight: 700;
  font-size: medium;
  text-align: center;
  letter-spacing: 0.02em;
  color: #aa865b;
  margin-bottom: 2rem;
}

.itinerary__modal {
  @apply flex flex-col items-center justify-center text-center;
  background: rgba(255, 252, 252, 0.88);
  border: 2px solid #000000;
  height: 40rem;
  width: 80%;
  position: relative;
}

.itinerary__modal > img {
  width: 9.5rem;
}

.itinerary__flower-top {
  position: absolute;
  top: 1.5rem;
}

.itinerary__flower-bottom {
  position: absolute;
  bottom: 1.5rem;
}

.itinerary__modal-items > h1 {
  font-family: "Carolyna";
  font-style: bold;
  font-weight: 800;
  font-size: xx-large;
  margin: -0.5rem;
}

.itinerary__modal-items > h2 {
  font-family: "Montserrat";
  font-size: small;
  margin-bottom: 1rem;
}

.itinerary__modal-items:nth-child(4) > h1,
.itinerary__modal-items:nth-child(5) > h1 {
  margin: 0;
}

.itinerary__modal-items:last-child > h2 {
  margin-bottom: 0;
}
