.itinerary {
  @apply container mx-auto flex flex-col items-center justify-center text-center h-full p-4;
  background-color: white;
}

.itinerary__intro {
  animation: appear 4s;
}

.itinerary__text {
  @apply mb-2;
}

.itinerary__text-names {
  @apply mt-4 mb-8;
  letter-spacing: 0.02em;
}

.itinerary__modal {
  @apply flex flex-col items-center justify-center text-center;
  background: rgba(255, 252, 252, 0.88);
  border: 2px solid #000000;
  height: 40rem;
  width: 80%;
  position: relative;
}

.itinerary__modal > img {
  @apply w-40;
}

.itinerary__flower-top {
  @apply absolute;
  top: 1.5rem;
}

.itinerary__flower-bottom {
  @apply absolute;
  bottom: 1.5rem;
}

.itinerary__text-h1 {
  @apply -m-2;
}

.itinerary__modal-items > h2 {
  @apply mb-4;
  font-family: "Montserrat";
  font-size: small;
}

.itinerary__modal-items:nth-child(4) > div,
.itinerary__modal-items:nth-child(5) > div {
  @apply m-0;
}

.itinerary__modal-items:last-child > h2 {
  @apply mb-0;
}

@media screen and (min-width: 1024px) {
  .itinerary__modal {
    height: auto;
    padding: 7rem 1rem;
    margin-top: 4rem;
  }

  .itinerary__modal-items > h2 {
    font-size: large;
  }

  .itinerary__modal > img {
    width: 14rem;
  }
}
