.enquiries {
  @apply container mx-auto flex flex-col items-center justify-center h-screen;
  background-color: white;
}

.enquiries__container {
  @apply flex flex-col items-center;
  margin: 1rem 0;
}

.enquiries__title {
  @apply mb-4;
}

.enquiries__button {
  @apply flex flex-row items-center justify-center bg-green-500 font-semibold text-left text-white w-40 mt-1 rounded;
  font-family: "Montserrat";
  font-size: large;
  padding: 0.4rem 0;
}

.enquiries__button:hover {
  @apply bg-green-700;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .enquiries__container {
    margin: 2rem 0;
  }

  .enquiries__button {
    font-size: x-large;
    width: 20rem;
    padding: 0.8rem 0;
  }
}
