.countdown__expired {
  @apply text-center mt-4;
  background-color: #f0ebe7;
  border-top: 2px solid #c09a45;
  border-bottom: 2px solid #c09a45;
  padding: 0.5rem 1rem;
}

.show-counter {
  @apply p-2;
}

.show-counter {
  @apply flex flex-row justify-center items-center font-bold text-xl leading-7 rounded no-underline mt-4;
  padding: 1rem 0.5rem;
  border: 1px solid #ebebeb;
  color: #7f6544;
  background-color: #f0ebe7;
  border-top: 2px solid #c09a45;
  border-bottom: 2px solid #c09a45;
}

.show-counter .countdown {
  @apply leading-5 items-center flex flex-col;
  padding: 0 0.75rem 0 0.75rem;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  @apply m-0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

@media screen and (min-width: 1024px) {
  .show-counter {
    width: 20rem;
    height: 6rem;
    font-size: 1.8em;
  }

  .show-counter .countdown > span {
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }
}
